html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Russo One", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
}

.container {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1366px) {
  .container {
    max-width: 1100px;
  }
}

button,
a,
.btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.section__title {
  margin: 0;
  margin-bottom: 50px;
  font-family: "Russo One", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 3em;
  line-height: 1.4;
  text-transform: uppercase;
  color: #000;
}

@media (max-width: 1366px) {
  .section__title {
    margin-bottom: 30px;
    font-size: 2em;
  }
}

.btn {
  background: none;
  border: none;
  padding: 15px 80px;
  color: #FFF;
  background-color: #3FAF38;
  border: 2px solid #3FAF38;
  border-radius: 3.5em;
  font-weight: 400;
  font-size: 1.7em;
  line-height: 1.3;
  transition: all .3s ease-in-out;
}

@media (max-width: 1366px) {
  .btn {
    padding: 12px 65px;
    font-size: 1.5em;
  }
}

.btn--orange {
  background-color: #E7810A;
  border: 2px solid #E7810A;
}

.btn--orange:hover, .btn--orange:focus {
  background-color: #cf7309;
  border-color: #cf7309;
}

.btn--sm {
  padding: 20px 40px;
  border-radius: 1.2em;
}

.btn--lg {
  padding: 13px 150px;
  border-radius: 1.4em;
}

.btn--lg:hover, .btn--lg:focus {
  background-color: #389c32;
  border-color: #389c32;
}

.btn--transparent {
  background-color: transparent;
}

.slide-down {
  cursor: pointer;
  position: absolute;
  bottom: -185px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 1366px) {
  .slide-down {
    bottom: 10px;
  }
}

.arrow-down {
  display: inline-block;
  border: 3px solid #FFF;
  padding: 11px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  -webkit-animation: slideDown 2s ease-in-out normal infinite;
          animation: slideDown 2s ease-in-out normal infinite;
}

.mask {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.mask--features {
  background: rgba(255, 255, 255, 0.9);
}

.mask--sale {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.88) 0%, rgba(0, 0, 0, 0.7392) 26.56%, rgba(0, 0, 0, 0.7392) 49.48%, rgba(0, 0, 0, 0) 100%);
}

.mask--work {
  background: rgba(255, 255, 255, 0.88);
}

.mask--reviews {
  background: rgba(0, 0, 0, 0.5);
}

.mask--faq {
  background: rgba(252, 249, 249, 0.88);
}

.mask--plans {
  background: rgba(255, 255, 255, 0.88);
}

.mask--callback {
  background: rgba(0, 0, 0, 0.16);
}

@-webkit-keyframes slideDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
}

@keyframes slideDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
}

.form {
  background: rgba(0, 0, 0, 0.47);
  border-radius: 1.9em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.form__title {
  margin: 0;
  margin-bottom: 25px;
  padding-bottom: 15px;
  font-family: "Exo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 1.5;
  text-align: center;
  color: #FFF;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 1366px) {
  .form__title {
    font-size: 2em;
    margin-bottom: 15px;
  }
}

.form__label {
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 25px;
  font-family: "Exo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.5;
  color: #FFF;
}

@media (max-width: 1366px) {
  .form__label {
    margin-bottom: 15px;
  }
}

.form__label--radio {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.form__label--input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.form__radio-inner {
  margin: 25px 0px 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
}

@media (max-width: 1366px) {
  .form__radio-inner {
    margin: 15px 0px 30px;
  }
}

.form__radio-inner--floors {
  margin: 20px 0px;
}

.form__radio-btn {
  cursor: pointer;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.form__radio-btn input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.form__radio-btn label {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 18px 35px;
  font-family: "Exo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  line-height: 1.4;
  color: #FFF;
  transition: all .3s ease-in-out;
}

@media (max-width: 1366px) {
  .form__radio-btn label {
    padding: 12px 30px;
  }
}

.form__radio-btn label:hover {
  opacity: .8;
}

.form__radio-btn input[type=radio]:checked + label {
  background: #3FAF38;
}

.form__radio-btn label.floors {
  padding: 23px 18px;
  font-size: 1.1em;
}

@media (max-width: 1366px) {
  .form__radio-btn label.floors {
    padding: 18px 12px;
    font-size: 1em;
  }
}

.form__radio-btn label.floors sup {
  top: -.1em;
}

.form__input {
  width: 420px;
  padding: 18px 30px;
  background: #000;
  border: 2px solid #3FAF38;
  border-radius: 1.5em;
  color: #FFF;
  opacity: 1;
  transition: all .3s ease-in-out;
}

@media (max-width: 1366px) {
  .form__input {
    padding: 12px 24px;
  }
}

.form__input::-webkit-input-placeholder {
  font-family: "Exo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.4;
  color: #FFF;
  opacity: 1;
}

.form__input::-moz-placeholder {
  font-family: "Exo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.4;
  color: #FFF;
  opacity: 1;
}

.form__input:-ms-input-placeholder {
  font-family: "Exo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.4;
  color: #FFF;
  opacity: 1;
}

.form__input::placeholder {
  font-family: "Exo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.4;
  color: #FFF;
  opacity: 1;
}

@media (max-width: 1366px) {
  .form__input::-webkit-input-placeholder {
    font-size: 1em;
  }
  .form__input::-moz-placeholder {
    font-size: 1em;
  }
  .form__input:-ms-input-placeholder {
    font-size: 1em;
  }
  .form__input::placeholder {
    font-size: 1em;
  }
}

.form__input:hover, .form__input:focus {
  border-color: #E7810A;
  border-width: 2px;
  outline: none;
}

.swiper-wrapper {
  box-sizing: border-box;
}

.swiper-container {
  width: 1200px;
}

@media (max-width: 1366px) {
  .swiper-container {
    width: 900px;
  }
}

@media (max-width: 1024px) {
  .swiper-container {
    width: 700px;
  }
}

@media (max-width: 768px) {
  .swiper-container {
    width: 450px;
  }
}

@media (max-width: 475px) {
  .swiper-container {
    width: 300px;
  }
}

.swiper-button-prev {
  background-image: url(../img/slid-arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  width: 40px;
  height: 56px;
  transition: all .3s ease-in-out;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev:hover, .swiper-button-prev:focus {
  outline: none;
  opacity: .8;
}

.swiper-button-next {
  background-image: url(../img/slid-arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 40px;
  height: 56px;
  transition: all .3s ease-in-out;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-next:hover, .swiper-button-next:focus {
  outline: none;
  opacity: .8;
}

.swiper-pagination {
  bottom: 100px;
}

@media (max-width: 1366px) {
  .swiper-pagination {
    bottom: 70px;
  }
}

.swiper-pagination-bullet {
  width: 18px;
  height: 16px;
  background: #C4C4C4;
  opacity: 1;
  margin-right: 10px;
  transition: all .3s ease-in-out;
}

.swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.swiper-pagination-bullet-active {
  background: rgba(0, 0, 0, 0.9);
  width: 16px;
}

.swiper-slide {
  padding: 80px 100px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 1.8em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

@media (max-width: 1366px) {
  .swiper-slide {
    padding: 50px 80px;
  }
}

.swiper-slide__img {
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 95px;
  height: 95px;
  margin-bottom: 30px;
}

@media (max-width: 1366px) {
  .swiper-slide__img {
    margin-bottom: 20px;
  }
}

.swiper-slide__author {
  margin: 0;
  margin-bottom: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Russo One", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 2.2em;
  line-height: 1.4;
  color: #FFF;
}

@media (max-width: 1366px) {
  .swiper-slide__author {
    margin-bottom: 30px;
    font-size: 2em;
  }
}

.swiper-slide__text {
  margin: 0;
  margin-bottom: 100px;
  font-family: "Jura", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.8em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 1366px) {
  .swiper-slide__text {
    font-size: 1.6em;
    margin-bottom: 60px;
  }
}

.swiper-slide__footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.swiper-slide__social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.swiper-slide__origin {
  font-family: "Jura", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 20px;
  font-weight: 600;
  font-size: 1.8em;
  line-height: 1.4;
  color: #0085FF;
  transition: all .3s ease-in-out;
}

@media (max-width: 1366px) {
  .swiper-slide__origin {
    font-size: 1.5em;
    margin-left: 15px;
  }
}

.swiper-slide__origin:hover, .swiper-slide__origin:focus {
  text-decoration: underline;
}

.swiper-slide__date {
  font-family: "Jura", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.8em;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 1366px) {
  .swiper-slide__date {
    font-size: 1.5em;
  }
}

.header__container {
  padding: 30px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

@media (max-width: 1366px) {
  .header__container {
    padding: 10px 0px;
  }
}

.header__logo {
  transition: all .3s ease-in-out;
}

@media (max-width: 1366px) {
  .header__logo {
    max-width: 230px;
  }
}

.header__logo:hover, .header__logo:focus {
  -webkit-transform: scale3d(1.1, 1.02, 1.05);
          transform: scale3d(1.1, 1.02, 1.05);
}

.nav__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.nav__item {
  list-style: none;
  margin-left: 80px;
  position: relative;
}

.nav__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 6px;
  height: 7px;
  border-radius: 50%;
  background-color: #3FAF38;
}

.nav__item::after {
  display: inline-block;
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  width: 0%;
  height: 3px;
  background-color: #FFF;
}

@media (max-width: 1366px) {
  .nav__item::after {
    height: 2px;
  }
}

.nav__item:hover::after, .nav__item:focus::after {
  -webkit-animation: bottomSlide .5s ease-in-out normal forwards;
          animation: bottomSlide .5s ease-in-out normal forwards;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__item:first-child::before {
  display: none;
}

.nav__link {
  padding: 5px 0px;
  font-family: "Exo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.4;
  color: #FFF;
}

@media (max-width: 1366px) {
  .nav__link {
    font-size: 1.2em;
  }
}

@-webkit-keyframes bottomSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes bottomSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.hero {
  position: relative;
}

.hero::before {
  position: absolute;
  content: "";
  top: -131px;
  left: 0;
  right: 0;
  z-index: -3;
  width: 100%;
  height: 320px;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  overflow: hidden;
}

@media (max-width: 1366px) {
  .hero::before {
    top: -85px;
    height: 100%;
    min-height: 25vh;
  }
}

.hero::after {
  position: absolute;
  content: "";
  top: -131px;
  left: 0;
  right: 0;
  bottom: -321px;
  background: rgba(0, 0, 0, 0.13);
  z-index: -5;
  overflow: hidden;
}

@media (max-width: 1366px) {
  .hero::after {
    top: -85px;
    bottom: 0;
    min-height: 100vh;
  }
}

.hero__bg {
  position: absolute;
  top: -131px;
  z-index: -10;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}

@media (max-width: 1366px) {
  .hero__bg {
    min-height: 100vh;
    width: 100%;
    top: -83px;
  }
}

.hero__container {
  padding: 100px 0px 0px;
  margin-bottom: 300px;
  position: relative;
}

@media (max-width: 1366px) {
  .hero__container {
    padding: 50px 0px 0px;
    margin-bottom: 50px;
  }
}

.hero__container::before {
  position: absolute;
  content: "";
  top: -131px;
  left: -200px;
  bottom: -320px;
  width: 100%;
  height: auto;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.97) 0%, rgba(0, 0, 0, 0.64) 35.39%, rgba(0, 0, 0, 0.37) 63.45%, rgba(0, 0, 0, 0.14) 74.24%, rgba(196, 196, 196, 0) 82.87%);
  z-index: -3;
}

@media (max-width: 1366px) {
  .hero__container::before {
    height: 100vh;
    top: -83px;
    left: -130px;
    bottom: 0;
  }
}

.hero__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  max-width: 650px;
  font-weight: 400;
  font-size: 4em;
  line-height: 1.2;
  color: #FFF;
  text-transform: uppercase;
}

@media (max-width: 1366px) {
  .hero__title {
    margin-bottom: 50px;
    max-width: 470px;
    font-size: 3em;
  }
}

.hero__title span {
  color: #3FAF38;
}

.hero__object {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-animation: rotate 3s ease-in-out normal infinite;
          animation: rotate 3s ease-in-out normal infinite;
}

@media (max-width: 1366px) {
  .hero__object {
    max-width: 250px;
  }
}

.hero__text {
  position: absolute;
  top: 25px;
  left: 50px;
  margin: 0;
  max-width: 240px;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
  color: #FFF;
}

@media (max-width: 1366px) {
  .hero__text {
    top: 5px;
    left: 0;
    font-size: 1.5em;
  }
}

.hero__btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-animation: flash 3s ease-in-out normal infinite;
          animation: flash 3s ease-in-out normal infinite;
}

.hero__btn:hover, .hero__btn:focus {
  -webkit-animation: flash 1s ease-in-out normal infinite;
          animation: flash 1s ease-in-out normal infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@-webkit-keyframes flash {
  0% {
    background-color: #E7810A;
  }
  25% {
    background-color: #cf7309;
  }
  50% {
    background-color: #E7810A;
  }
  75% {
    background-color: #cf7309;
  }
  100% {
    background-color: #E7810A;
  }
}

@keyframes flash {
  0% {
    background-color: #E7810A;
  }
  25% {
    background-color: #cf7309;
  }
  50% {
    background-color: #E7810A;
  }
  75% {
    background-color: #cf7309;
  }
  100% {
    background-color: #E7810A;
  }
}

.footer {
  background-color: #000;
  color: #FFF;
}

.footer__container {
  padding: 60px 0px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

@media (max-width: 1366px) {
  .footer__container {
    padding: 40px 0px;
  }
}

.footer-top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
}

.footer__logo {
  margin-right: 100px;
  transition: all .3s ease-in-out;
}

@media (max-width: 1366px) {
  .footer__logo {
    margin-right: 70px;
  }
}

.footer__logo:hover, .footer__logo:focus {
  -webkit-transform: skewX(20deg);
      -ms-transform: skewX(20deg);
          transform: skewX(20deg);
}

.footer__contacts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.footer__contacts-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 15px;
}

.footer__contacts-item:last-child {
  margin-bottom: 0;
}

.footer__contacts-text {
  font-family: "Jura", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.7;
}

@media (max-width: 1366px) {
  .footer__contacts-text {
    font-size: 1.3em;
  }
}

.footer__contacts-phone {
  margin-left: 15px;
  font-family: "Russo One", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.2;
  transition: all .3s ease-in-out;
}

.footer__contacts-phone:hover, .footer__contacts-phone:focus {
  -webkit-transform: scale(1.05, 1.05);
      -ms-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.footer-bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer__social-link {
  transition: all .3s ease-in-out;
  margin-left: 30px;
}

@media (max-width: 1366px) {
  .footer__social-link {
    margin-left: 20px;
  }
}

.footer__social-link:first-child {
  margin-left: 60px;
}

@media (max-width: 1366px) {
  .footer__social-link:first-child {
    margin-left: 40px;
  }
}

.footer__social-link:hover, .footer__social-link:focus {
  -webkit-transform: translate(8px, -10px);
      -ms-transform: translate(8px, -10px);
          transform: translate(8px, -10px);
}

.features {
  position: relative;
  background-image: url(../img/features-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.features__container {
  padding: 140px 0px;
  position: relative;
  z-index: 10;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

@media (max-width: 1366px) {
  .features__container {
    padding: 60px 0px;
  }
}

.features__container::before {
  position: absolute;
  content: "";
  top: 60px;
  left: -60px;
  right: 0;
  bottom: 0px;
  width: 110%;
  height: 85%;
  border: 2px solid #3FAF38;
}

@media (max-width: 1366px) {
  .features__container::before {
    top: 40px;
  }
}

.features__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.features__wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__item {
  width: 27%;
  margin-bottom: 90px;
  cursor: pointer;
}

@media (max-width: 1366px) {
  .features__item {
    margin-bottom: 50px;
  }
}

.card {
  padding: 50px 50px 30px;
  background: #FFF;
  border: 2px solid #3FAF38;
  box-shadow: 0px 2.4px 2.4px rgba(0, 0, 0, 0.25);
  position: relative;
  text-align: center;
  transition: all .3s ease-in-out;
}

@media (max-width: 1366px) {
  .card {
    padding: 30px 20px 15px;
  }
}

.card.non-active {
  background-color: #3FAF38;
}

.card.non-active > .card__title,
.card.non-active .card__text {
  opacity: 0;
}

.card__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Exo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 1.8em;
  line-height: 1.5;
  color: #3FAF38;
  position: relative;
}

@media (max-width: 1366px) {
  .card__title {
    margin-bottom: 20px;
    font-size: 1.5em;
  }
}

.card__title::after {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70px;
  height: 1.5px;
  background-color: #3FAF38;
}

@media (max-width: 1366px) {
  .card__title::after {
    bottom: -10px;
  }
}

.card__text {
  margin: 0;
  font-family: "Exo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 1.3em;
  line-height: 1.5;
  color: #000;
}

@media (max-width: 1366px) {
  .card__text {
    font-size: 1.2em;
  }
}

.card__icon {
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, -75%);
      -ms-transform: translate(-50%, -75%);
          transform: translate(-50%, -75%);
  border-radius: 50%;
  width: 15%;
}

.sale {
  position: relative;
  background-image: url(../img/sale-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.sale__container {
  padding: 140px 0px 150px;
  position: relative;
  z-index: 10;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media (max-width: 1366px) {
  .sale__container {
    padding: 100px 0px 110px;
  }
}

.sale__content {
  max-width: 800px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

@media (max-width: 1366px) {
  .sale__content {
    max-width: 550px;
  }
}

.sale__title {
  margin: 0;
  margin-bottom: 70px;
  font-family: "Russo One", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 2.8em;
  line-height: 1.5;
  color: #FFF;
}

@media (max-width: 1366px) {
  .sale__title {
    margin-bottom: 50px;
    font-size: 2.2em;
  }
}

.sale__title span {
  color: #3FAF38;
  text-decoration: underline;
}

.sale__text {
  margin: 0;
  padding: 25px 40px;
  border: 1.7px solid #FFF;
  border-radius: .8em;
  font-family: "Exo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 1.9em;
  line-height: 1.5;
  color: #FFF;
}

@media (max-width: 1366px) {
  .sale__text {
    padding: 15px 30px;
    font-size: 1.3em;
    text-align: center;
  }
}

.sale__form {
  padding: 50px 50px;
  max-width: 650px;
  margin-right: -60px;
  margin-top: -30px;
}

@media (max-width: 1366px) {
  .sale__form {
    padding: 30px;
    max-width: 500px;
    margin-right: -30px;
    margin-top: -50px;
  }
}

.sale__form-title {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 500px;
}

.sale__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sale__price-img {
  position: absolute;
  z-index: 20;
  transition: all .3s ease-in-out;
}

.sale__price-img--sm {
  bottom: 338px;
  left: 50px;
  -webkit-animation: rotate 5s ease-in-out 1s normal infinite;
          animation: rotate 5s ease-in-out 1s normal infinite;
}

@media (max-width: 1366px) {
  .sale__price-img--sm {
    bottom: 248px;
    left: 20px;
  }
}

.sale__price-img--md {
  bottom: 372px;
  left: 490px;
  -webkit-animation: rotate 5s ease-in-out 2s normal infinite;
          animation: rotate 5s ease-in-out 2s normal infinite;
}

@media (max-width: 1366px) {
  .sale__price-img--md {
    bottom: 272px;
    left: 350px;
  }
}

.sale__price-img--lg {
  bottom: 342px;
  left: 1014px;
  -webkit-animation: rotate 5s ease-in-out 3s normal infinite;
          animation: rotate 5s ease-in-out 3s normal infinite;
}

@media (max-width: 1366px) {
  .sale__price-img--lg {
    bottom: 242px;
    left: 744px;
    z-index: 0;
  }
}

.work {
  background-image: url(../img/work-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.work__container {
  padding: 140px 0px 80px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  z-index: 10;
}

@media (max-width: 1366px) {
  .work__container {
    padding: 60px 0px;
  }
}

.work__container::before {
  position: absolute;
  content: "";
  top: 70px;
  left: -60px;
  right: 0;
  bottom: 0px;
  width: 110%;
  height: 92%;
  border: 2px solid #3FAF38;
  z-index: -1;
}

@media (max-width: 1366px) {
  .work__container::before {
    top: 40px;
  }
}

.work__photo {
  margin-bottom: 90px;
  position: relative;
  transition: all .5s ease-in-out;
}

@media (max-width: 1366px) {
  .work__photo {
    margin-bottom: 50px;
  }
}

.work__photo--bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 48.96%, rgba(255, 255, 255, 0.6) 100%);
  border-radius: 3.2em;
}

.work__item {
  position: absolute;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  z-index: 2;
  transition: all .3s ease-in-out;
}

.work__item:nth-child(2) {
  top: 170px;
  left: 480px;
}

@media (max-width: 1366px) {
  .work__item:nth-child(2) {
    top: 90px;
    left: 300px;
  }
}

.work__item:nth-child(3) {
  top: 60px;
  left: 690px;
}

@media (max-width: 1366px) {
  .work__item:nth-child(3) {
    top: 10px;
    left: 450px;
  }
}

.work__item:nth-child(4) {
  top: 170px;
  right: 470px;
}

@media (max-width: 1366px) {
  .work__item:nth-child(4) {
    top: 90px;
    right: 300px;
  }
}

.work__item:nth-child(4) .work__icon {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.work__item:nth-child(5) {
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
  bottom: 90px;
  right: 695px;
}

@media (max-width: 1366px) {
  .work__item:nth-child(5) {
    bottom: 25px;
    right: 448px;
  }
}

.work__item:hover .work__text, .work__item:focus .work__text {
  opacity: 1;
}

.work__img {
  position: relative;
  z-index: 2;
}

.work__text {
  opacity: 0;
  font-family: "Russo One", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.4;
  color: #000;
}

@media (max-width: 1366px) {
  .work__text {
    font-size: 1em;
  }
}

.work__btn {
  padding: 15px 60px;
  transition: all .3s ease-in-out;
}

@media (max-width: 1366px) {
  .work__btn {
    padding: 12px 60px;
    font-size: 1.3em;
  }
}

.work__btn:hover, .work__btn:focus {
  background-color: #389c32;
  border-color: #389c32;
}

.reviews {
  position: relative;
  background-image: url(../img/reviews-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.reviews__container {
  position: relative;
  padding: 130px 0px 200px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

@media (max-width: 1366px) {
  .reviews__container {
    padding: 80px 0px 120px;
  }
}

.reviews__title {
  margin-bottom: 100px;
  color: #FFF;
}

@media (max-width: 1366px) {
  .reviews__title {
    margin-bottom: 60px;
  }
}

.faq {
  padding: 140px 0px 50px;
  background-image: url(../img/faq-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 1366px) {
  .faq {
    padding: 100px 0px 30px;
  }
}

.faq__container {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.faq__container::before {
  position: absolute;
  content: "";
  top: -60px;
  left: -60px;
  right: 0;
  bottom: 0px;
  width: 110%;
  height: 103%;
  border: 2px solid #3FAF38;
}

@media (max-width: 1366px) {
  .faq__container::before {
    height: 105%;
  }
}

.faq__title {
  text-align: center;
  margin-bottom: 90px;
}

@media (max-width: 1366px) {
  .faq__title {
    margin-bottom: 60px;
  }
}

.faq__accordion {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.faq__action {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: relative;
  z-index: 20;
}

.faq__btn {
  padding: 15px 50px;
  font-family: "Exo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
  transition: all .3s ease-in-out;
}

@media (max-width: 1366px) {
  .faq__btn {
    font-size: 20px;
    padding: 12px 35px;
  }
}

.faq__btn:hover, .faq__btn:focus {
  background-color: #389c32;
  border-color: #389c32;
  color: #000;
}

.accordion {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 150px;
}

@media (max-width: 1366px) {
  .accordion {
    margin-bottom: 100px;
  }
}

.accordion__item {
  padding: 40px 40px 30px 55px;
  background-color: #FFF;
  min-width: 1300px;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
}

@media (max-width: 1366px) {
  .accordion__item {
    padding: 20px 30px;
    min-width: 900px;
  }
}

.accordion__item:last-child {
  margin-bottom: 0;
}

.accordion__item.active > .accordion__text {
  display: block;
}

.accordion__title {
  margin: 0;
  margin-bottom: 10px;
  font-family: "Exo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: #000;
}

@media (max-width: 1366px) {
  .accordion__title {
    font-size: 20px;
  }
}

.accordion__text {
  margin: 0;
  font-family: "Exo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  display: none;
}

.accordion__img {
  display: inline-block;
  position: absolute;
  top: 40px;
  right: 40px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

@media (max-width: 1366px) {
  .accordion__img {
    top: 23px;
    right: 30px;
    width: 24px;
    height: 24px;
  }
}

.accordion__img:hover, .accordion__img:focus {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.promo {
  background-image: url(../img/promo-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1080px;
  position: relative;
}

.promo__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding: 50px 90px 50px 0px;
  position: relative;
}

.promo__title {
  border: 2px solid #33CA2A;
  border-radius: 19px;
  padding: 25px 30px;
  color: #FFF;
  text-transform: initial;
  text-align: center;
  max-width: 800px;
  margin-bottom: 800px;
}

.promo__img {
  position: absolute;
  top: 330px;
  left: 50%;
  transition: all .3s ease-in-out;
  display: inline-block;
  -webkit-animation: rotate 3s ease-in-out normal infinite;
          animation: rotate 3s ease-in-out normal infinite;
}

.promo__img.visible {
  display: none;
}

.plans {
  padding: 140px 0px 200px;
  background-image: url(../img/work-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.plans__container {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  z-index: 10;
}

.plans__container::before {
  position: absolute;
  content: "";
  top: -50px;
  left: -60px;
  right: 0;
  bottom: 0px;
  width: 110%;
  height: 120%;
  border: 2px solid #3FAF38;
  z-index: -1;
}

.plans__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 80px;
}

.plans__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
}

.plans__item {
  padding: 50px;
  box-shadow: 6px 8px 11px #000;
  background-color: #FFF;
  background: #238b12;
  background: linear-gradient(172deg, #238b12 0%, #238b12 30%, white 30%, white 85%, #a6e395 85%);
  border-radius: 1.3em;
  max-width: 500px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  transition: all .3s ease-in-out;
}

.plans__item--sm {
  background: linear-gradient(172deg, #238b12 0%, #238b12 27%, white 27%, white 85%, #a6e395 85%);
}

.plans__item:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.plans__heading {
  margin: 0;
  margin-bottom: 50px;
  max-width: 240px;
  font-family: "Russo One", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.7em;
  line-height: 1.4;
  color: #FFF;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.plans__heading span {
  text-transform: uppercase;
}

.plans__price {
  margin-bottom: 25px;
  font-family: "Exo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.5;
  color: #000;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.plans__price img {
  height: 55px;
  vertical-align: bottom;
  margin-right: 8px;
}

.plans__price b {
  font-size: 3em;
}

.plans__features {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: "Jura", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.4;
  color: #000;
  margin: 0;
  margin-bottom: 15px;
}

.plans__features img {
  margin-right: 15px;
}

.plans__btn {
  margin-top: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  transition: all .3s ease-in-out;
  -webkit-animation: flashBtn 3s ease-in-out normal infinite;
          animation: flashBtn 3s ease-in-out normal infinite;
}

.plans__btn:hover, .plans__btn:focus {
  background-color: #389c32;
  border-color: #389c32;
}

@-webkit-keyframes flashBtn {
  0% {
    background-color: #3FAF38;
    border: 2px solid #3FAF38;
  }
  25% {
    background-color: #458a40;
    border: 2px solid #458a40;
  }
  50% {
    background-color: #2e5e2b;
    border: 2px solid #2e5e2b;
  }
  75% {
    background-color: #458a40;
    border: 2px solid #458a40;
  }
  100% {
    background-color: #3FAF38;
    border: 2px solid #3FAF38;
  }
}

@keyframes flashBtn {
  0% {
    background-color: #3FAF38;
    border: 2px solid #3FAF38;
  }
  25% {
    background-color: #458a40;
    border: 2px solid #458a40;
  }
  50% {
    background-color: #2e5e2b;
    border: 2px solid #2e5e2b;
  }
  75% {
    background-color: #458a40;
    border: 2px solid #458a40;
  }
  100% {
    background-color: #3FAF38;
    border: 2px solid #3FAF38;
  }
}

.callback {
  background-image: url(../img/callback-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.callback::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 25px;
  z-index: 5;
  background-color: #000;
}

.callback__container {
  position: relative;
  padding: 130px 0px;
}

.callback__form {
  max-width: 600px;
  padding: 45px 45px 75px;
  background: rgba(0, 0, 0, 0.75);
}

.callback__form .form__title {
  max-width: 100%;
}

.callback__form .form__input {
  width: 470px;
}

.ringer {
  position: absolute;
  left: 1055px;
  bottom: 300px;
  -webkit-animation: rotate 5s ease-in-out normal infinite;
          animation: rotate 5s ease-in-out normal infinite;
}

.side-nav {
  position: absolute;
  right: -107px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 1366px) {
  .side-nav {
    right: -54px;
  }
}

.side-nav__list {
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  list-style-type: none;
  position: relative;
}

.side-nav__list--masked {
  background-color: rgba(255, 255, 255, 0.8);
}

.side-nav__list--masked::before, .side-nav__list--masked::after {
  display: none;
}

.side-nav__list::before, .side-nav__list::after {
  position: absolute;
  content: "";
  top: -210px;
  right: 4;
  width: 2px;
  height: 200px;
  background-color: rgba(63, 175, 56, 0.5);
}

@media (max-width: 1366px) {
  .side-nav__list::before, .side-nav__list::after {
    top: -130px;
    height: 130px;
  }
}

.side-nav__list::after {
  top: unset;
  bottom: -210px;
}

@media (max-width: 1366px) {
  .side-nav__list::after {
    top: unset;
    bottom: -130px;
  }
}

.side-nav__item {
  margin-bottom: 5px;
}

.side-nav__link {
  font-family: "Exo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.5;
  color: #3FAF38;
  position: relative;
  transition: all .3s ease-in-out;
}

.side-nav__link::after {
  position: absolute;
  content: "";
  top: 50%;
  left: -25px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FF9900;
  display: none;
}

@media (max-width: 1366px) {
  .side-nav__link::after {
    left: -18px;
    width: 12px;
    height: 12px;
  }
}

.side-nav__link.active {
  right: -20px;
  color: #FF9900;
  font-size: 1.5em;
}

@media (max-width: 1366px) {
  .side-nav__link.active {
    right: -16px;
    font-size: 1.2em;
  }
}

.side-nav__link.active::after {
  display: inline-block;
}
