.faq {
  padding: 140px 0px 50px;
  background-image: url(../img/faq-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media (max-width: 1366px) {
    padding: 100px 0px 30px;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;

    &::before {
      position: absolute;
      content: "";
      top: -60px;
      left: -60px;
      right: 0;
      bottom: 0px;
      width: 110%;
      height: 103%;
      border: 2px solid #3FAF38;

      @media (max-width: 1366px) {
        height: 105%;
      }
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 90px;

    @media (max-width: 1366px) {
      margin-bottom: 60px;
    }
  }

  &__accordion {
    align-self: center;
  }

  &__action {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 20;
  }

  &__btn {
    padding: 15px 50px;
    font-family: $exo;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
    transition: all .3s ease-in-out;

    @media (max-width: 1366px) {
      font-size: 20px;
      padding: 12px 35px;
    }

    &:hover,
    &:focus {
      background-color: darken($green, 5%);
      border-color: darken($green, 5%);
      color: $black;
    }
  }
}